 .btn {
    background-color: var(--line-border-fill);
    /*Siempre y cuando tenga un valor se "printa de azul, menos cuando est en disable*/
     color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
} 

body {
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

* {
    box-sizing: border-box;
    /*¿?*/
}

:root {
    --line-border-fill: #3498db;
    /* crea una raiz de la linea de borde, que indica el color de esta segun su estado*/
    --line-border-empty: #e0e0e0;
}





 .btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
    /* no deja clickar, simbolo de no disponible*/
 }

.circle {

    border-radius: 50%;
    height: 25px;
    border: solid 3px var(--line-border-empty);
    width: 25px;
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    z-index: 1; 
}
    /* La propiedad z-index en CSS se utiliza para ordenar los elementos que se superpongan entre sí. Con la propiedad z-index podemos controlar qué elemento iría encima y cual debajo, 
    como si el documento tuviera profundidad, tres dimensiones en lugar de dos. */


.circle.active {
    border-radius: 50%;
    border: solid 3px var(--line-border-fill); 
    /* Quitar , esta mal puesto */
     width: 25px;
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    z-index: 1;
} 

.container {
    position: relative;
    margin-bottom: 30px;   
  }
  

  
  .progress-container {
    margin-bottom : 30px;
    max-width:100%;
    width:350px;
    position:relative;
    display: flex;
    justify-content: space-between;
  }
   
  
  .progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: -1;
    transition: 0.6s ease;
    transform: translateY(-50%);


  }

  .progress{

    background-color: var(--line-border-fill );
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: -1;
    transition: 0.6s ease;
    transform: translateY(-50%);

  }
 
